/*************************************************
*****              CSS RESET                 *****
*************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/*************************************************
*****           Main Sctructure              *****
*************************************************/

@font-face {
    font-family: "Chalktastic";
    src: url('/src/assets/Chalktastic-x1nR.ttf');
}

#content {
    height: 100vh;
    width: 100vw;

    padding: 3rem;

    background-color: #31343a;
    font-family: "Chalktastic", Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    font-weight: normal;
    color: #ffffff;
}

/*************************************************
*****           Start Page                   *****
*************************************************/

#start-title {
    font-size: 5rem;
    text-align: center;
    padding-top: 16rem;
}

#start-btn {
    display: block;
    margin: 5rem auto 0;
    padding: 0.5rem 3rem;
    font-size: 3rem;
}

/*************************************************
*****           Setup Page                   *****
*************************************************/
.game-text {
    text-align: center;
    font-size: 4rem;
}

.game-board {
    height: 36rem;
    width: 36rem;
    margin: 2rem auto;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 0px;


    border-radius: 0.5rem;
    border: 2px solid #ffffff;
}

.board-square {
    border: 1px dotted #ffffff;
}

#setup-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    width: 60%;
    height: 8rem;
}

.setup-btn {
    display: block;
    padding: 1rem 2.5rem;
    border: 6px solid #5c626e;
    border-radius: 0.5rem;
    background-color: #afb8c9;
}

.setup-btn:hover {
    opacity: 0.9;
}

.setup-btn:active {
    scale: 0.95;
}

#ship-container {
    background-color: #5c626e;
    height: 8rem;
    width: 36rem;
    margin: 2rem 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    position: relative;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 2px;
}

.ship-box {
    background-color: #afb8c9;
}

.ship-selected {
    border: 4px solid black;
}

.ship-used {
    opacity: 0.7;
}

.square-used {
    background-color: #3560bd;
}

.placement-valid {
    background-color: #18a81a;
}

.placement-invalid {
    background-color: #c90808;
}

#play-btn {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 4rem;
    width: 70%;
    border: 6px solid #5c626e;
    border-radius: 0.5rem;
    background-color: #afb8c9;
    font-size: 2rem;
    z-index: 100;
}

/*************************************************
*****           Game Page                   *****
*************************************************/

#nextBtn {
    display: block;
    margin: 2rem auto 0;
    padding: 1rem 4rem;
    border: 6px solid #5c626e;
    border-radius: 0.5rem;
    background-color: #afb8c9;
    font-size: 1.6rem;
}

#nextBtn:hover {
    opacity: 0.9;
}

#nextBtn:active {
    scale: 0.95;
}

#boards-display {
    display: grid;
    height: 30rem;
    width: fit-content;
    grid-template-columns: 20rem 40rem 20rem;
    grid-template-rows: 2rem auto;
    margin: 1rem auto 4rem;
}

.board-label {
    font-size: 1.6rem;
    text-align: center;
}

.side-board {
    background-color: #5c626e;
    height: 20rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    opacity: 0.7;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

#active-board {
    background-color: #5c626e;
    grid-row-start: span 2;
    height: 40rem;
    
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 2px;

    padding: 0.5rem;
    border-radius: 0.5rem;
}

.square-selected {
    background-color: #1c9677;
}

.ship-square {
    background-color: #f8e21a;
}

.miss-shot {
    background-color: #df9f9f;
}

.hit-shot {
    background-color: #c90808;
}
